{% extends "root.html" %}

{% block head_extra %}
    <link href="/static/data/css/data.css" rel="stylesheet">
    <script type="text/javascript" src="/static/data/js/data.js"></script>
{% endblock %}

{% block content %}

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#institutions" aria-controls="institutions" role="tab" data-toggle="tab">Institutions</a></li>
        <li role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Teams</a></li>
        <li role="presentation"><a href="#judges" aria-controls="judges" role="tab" data-toggle="tab">Judges</a></li>
    </ul>


    <div class="tab-content">

        <div role="tabpanel" class="tab-pane" id="teams">
            <section class="teams">
                {% for i in institutions %}
                    <h2>{{ i.name }}</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Speaker 1</th>
                            <th>Speaker 2</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        {% for t in i.teams %}
                            <tr id="t_{{ t.id }}">
                                <td>{{ t.name }}</td>
                                {% for s in t.speakers %}
                                    <td>{{ s.name }}</td>
                                {% endfor %}
                                <td>
                                    <button class="btn btn-sm btn-danger" onclick="delete_team({{ t.id }});">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <form action="#" class="create_team_form">
                                <td><input id="t_name_{{ t.id }}" placeholder="Name" required></td>
                                <td><input id="t_sp1_{{ t.id }}" placeholder="Speaker 1" required></td>
                                <td><input id="t_sp2_{{ t.id }}" placeholder="Speaker 2" required></td>
                                <td>
                                    <button class="btn btn-sm btn-success"
                                            onclick="create_team({{ t.id }});"
                                            type="submit">
                                        Create
                                    </button>
                                </td>
                                </form>
                            </tr>
                    </table>
                {% endfor %}
            </section>
        </div>

        <div role="tabpanel" class="tab-pane" id="judges">
            <section class="judges">
                <ul>{% for j in judges %}
                    <li>{{ j }}</li>{% endfor %}
                </ul>
            </section>
        </div>

        <div role="tabpanel" class="tab-pane active" id="institutions">
            <section class="institutions">

                <div class="add_inst_controls">
                    <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-success"
                                    type="button"
                                    id="inst_create"
                                    disabled>Add Institution</button>
                          </span>
                        <input type="text" class="form-control" placeholder="Institution Name" id="inst_name_input">
                    </div>
                </div>

                <ul id="inst_list">
                    {% for i in institutions %}
                        <li class="row" id="inst_{{ i.id }}">
                            <input class="institution_name col-sm-10" value="{{ i.name }}" id='inst_input_{{ i.id }}'/>

                            <div class="institution_controls col-sm-2">
                                <button
                                        class="btn btn-danger delete-institution"
                                        data-toggle="tooltip"
                                        title="This will delete all teams and judges"
                                        data-placement="top"
                                        onclick="delete_inst({{ i.id }});">
                                    Delete
                                </button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>

    </div>
{% endblock %}