{% extends "root.html" %}

{% block content %}

    <ul class="nav nav-pills">
        {% for r in all_rounds %}
                <li role="presentation" {% if r == display_round %}class="active"{% endif %}><a href="/display/table/{{ r }}/">Round {{ r }}</a></li>
        {% endfor %}
    </ul>

    <h1>Table for Round {{ display_round }}</h1>

    {% if display_round <= max_round %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Venue</th>
            <th>OG</th>
            <th>OO</th>
            <th>CG</th>
            <th>CO</th>
        </tr>
        </thead>

        {% for d in debates %}
            <tr>
                <td>{{ d.venue }}</td>
                <td><span title="{{ d.OG.total_team_points }} Points">{{ d.OG }}</span></td>
                <td><span title="{{ d.OO.total_team_points }} Points">{{ d.OO }}</span></td>
                <td><span title="{{ d.CG.total_team_points }} Points">{{ d.CG }}</span></td>
                <td><span title="{{ d.CO.total_team_points }} Points">{{ d.CO }}</span></td>
            </tr>
        {% endfor %}
    </table>

    {% else %}

    <div class="alert alert-danger">
        There has not been a draw for Round {{ display_round }} yet.
    </div>

    {% endif %}

{% endblock %}