{% extends "root.html" %}

{% block content %}
    <h1>Team Standings</h1>

    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Position</th>
            <th>Team</th>
            {% for r in all_rounds %}
                <th>R:{{ r }}</th>
                <th>Total</th>
            {% endfor %}
        </tr>

    </thead>

    {% for row in table %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}