{% extends "root.html" %}

{% block content %}
    <h1>Draw Console</h1>

    {% if tournament.round == 0 %}

        {% if not teams_ok %}
            <div class="alert alert-danger">
                The number of teams must be a multiple of four, and must be at least 4.
            </div>
        {% elif not venues_ok %}
            <div class="alert alert-danger">
                There are not enough venues for a {{ rooms }} room tournament.
            </div>
        {% else %}


            <p>
                When you are ready you can create the draw for Round 1. Once the first
                round has been drawn, you will be unable to add or delete teams, or
                delete judges.
            </p>
            <form method="post" action='/draw/round/first/'>
                {% csrf_token %}
                <button class="button btn-success btn-lg"
                        type="submit">Draw Round 1</button>
            </form>
        {% endif %}
    {% endif %}
    <h2>Current Round: {{ this_round }}</h2>

    {% if results_entered %}
        <p>
            When you are ready you can create the draw for Round {{ next_round }}.
        </p>
    {% else %}
        <div class="alert alert-danger">
        You cannot draw the next round until you have input all of the results for the current round.
        </div>
    {% endif %}
{% endblock %}