.tab-pane {
    margin-top: 10px;
}

.institutions ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
    max-width: 670px;
}

.institutions ul li {
    border: 1px solid #ffffff;
    width: 100%;
    min-height: 70px;
    margin-bottom: 10px;
    line-height: 35px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: x-large;
    padding-top: 13px;
}

.institutions ul li:hover {
    border: 1px solid #00bc8c;
    color: #222222;
}

.institutions ul li button.delete-institution {
    margin-top: auto;
}

.add_inst_controls {
    max-width: 670px;
}

.institution_name {
    background-color: #222222;
    color: #ffffff;
}

.judge {
    margin-bottom: 5px;
}